body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #24285b;
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #24285b;
  cursor: pointer;
}

a:hover {
  color: #24285b;
  text-decoration: underline;
}

a.nav-link:hover {
  color: #24285b;
  text-decoration: underline;
}

.btn {
  border-radius: 19px;
  height: 49px;
  padding: 0 30px;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  color: white;
}

.btn-primary {
  border: none;
  background-color: #893ae3;
  -webkit-box-shadow: 0 10px 20px 0 rgba(137, 58, 227, 0.28);
          box-shadow: 0 10px 20px 0 rgba(137, 58, 227, 0.28);
}

.btn-primary:hover {
  background-color: #893ae3;
}

.btn-secondary {
  background: transparent;
  color: #ff7c00;
  border-color: #ff7c00;
  border-width: 2px;
}

.btn-secondary:hover {
  background: transparent;
  color: #ff7c00;
  border-color: #ff7c00;
}

.btn-secondary:focus {
  background: transparent;
  color: #ff7c00;
  border-color: #ff7c00;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-form {
  border: none;
  background-color: #ff7c00;
  -webkit-box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0.28);
          box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0.28);
}

.btn-form:disabled {
  background-color: #ff7c00;
}

.brand-logo {
  max-height: 70px;
}

header .navbar {
  padding: 0;
}

header .navbar .nav-link {
  margin-left: 80px;
  position: relative;
}

header .navbar .nav-link.contact:hover .contact-popup {
  display: block;
}

header .navbar .home-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .home-icon::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #893ae3;
}

header .contact-popup {
  display: none;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 7px 34px 0 rgba(114, 131, 147, 0.21);
          box-shadow: 0 7px 34px 0 rgba(114, 131, 147, 0.21);
  border-radius: 10px;
  width: calc(100vw - 20px);
  max-width: 430px;
  left: -85px;
  top: 40px;
  padding: 30px 0;
  z-index: 1;
  line-height: 18px;
}

@media (min-width: 992px) {
  header .contact-popup {
    width: 430px;
    right: 0;
    left: unset;
    top: 45px;
  }
}

header .contact-popup::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 110px;
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

@media (min-width: 992px) {
  header .contact-popup::before {
    right: 32px;
    left: unset;
  }
}

header .contact-popup .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 20px;
  background-color: #893ae3;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px;
}

.home {
  background-image: url("/assets/imgs/home-background.png");
  background-size: cover;
  background-position: center;
  padding: 40px 0 140px;
  margin-bottom: 50px;
}

.home h1 {
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .home h1 {
    font-size: 35px;
  }
}

.home h1 span {
  color: #ff7c00;
}

.home p {
  max-width: 400px;
  color: #728393;
  line-height: 24px;
}

.home .modal {
  background-color: rgba(73, 22, 131, 0.8);
}

@media (min-width: 992px) {
  .home .modal .modal-dialog {
    max-width: 980px;
  }
}

.home .modal .close {
  color: white;
  font-size: 12px;
  text-shadow: none;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -70px;
  opacity: 1;
  cursor: pointer;
}

.home .modal .modal-content {
  padding: 40px 80px;
  border-radius: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .modal .modal-content h5 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.home .modal .modal-content .steps {
  margin-bottom: 40px;
  width: 100%;
}

.home .modal .modal-content .steps > *:first-child img {
  margin-bottom: -30px;
}

.home .modal .modal-content .steps > *:nth-child(2) img {
  margin-bottom: -10px;
}

.home .modal .modal-content .steps > *:nth-child(3) img {
  margin-bottom: 27px;
}

.home .modal .modal-content .steps > *:nth-child(4) img {
  margin-bottom: 42px;
}

.home .modal .modal-content p {
  color: #24285b;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  margin-top: 15px;
}

.home .modal .modal-content .step {
  height: 32px;
  width: 32px;
  border: 2px solid #cdd6de;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .modal .modal-content .btn {
  height: 58px;
}

footer {
  padding: 30px 0;
}

footer h2 {
  font-size: 13px;
  color: #24285b;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 12px;
  margin-bottom: 19px;
  margin-top: 15px;
}

@media (min-width: 992px) {
  footer h2 {
    margin-top: 0px;
  }
}

footer li {
  font-size: 13px;
  color: #728393;
}

footer .social-btn {
  background-color: #893ae3;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-right: 7px;
}

footer .copyrights {
  color: #728393;
  font-size: 12px;
}

.form {
  background-image: url("/assets/imgs/form-bg.svg");
  background-size: cover;
  background-position: top center;
  padding: 60px 0;
}

.form .form-container {
  background-color: white;
  border-radius: 26px;
  max-width: 980px;
  margin: auto;
}

.form .form-container h1 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.form .form-container .instruction {
  color: grey;
  font-size: 13px;
  text-align: center;
}

.form .form-container .instruction .orange {
  color: #ff7c00;
}

.form .form-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.form .form-container .nav .icon-grey {
  fill: #cdd6de;
  stroke: #cdd6de;
}

.form .form-container .nav #shop-icon,
.form .form-container .nav #validation-icon {
  display: none;
}

.form .form-container .nav .nav-item {
  text-align: center;
}

.form .form-container .progress-bar-container {
  height: 2px;
  width: 100%;
  background-color: #ebf1f4;
}

.form .form-container .progress-bar-container .progress-bar {
  width: 15.5%;
  height: 2px;
  background-color: #893ae3;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.form .form-container .tab-content {
  font-size: 12px;
}

.form .form-container .tab-content .custom-radio .custom-control-label::before {
  border-radius: 7px;
  border: 1px solid #cdd6de;
  width: 20px;
  height: 20px;
}

.form .form-container .tab-content .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: transparent;
}

.form .form-container .tab-content .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  content: "";
  background-image: none;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ff7c00;
  top: 10px;
  left: -18px;
}

.form .form-container .tab-content .custom-radio .custom-control-label {
  padding: 5px;
  cursor: pointer;
}

.form .form-container .form-content {
  padding: 40px 140px;
}

.form .form-control {
  border-radius: 16px;
  border-color: #cdd6de;
  font-size: 12px;
  width: 280px;
  resize: none;
}

.form .form-control:focus {
  border-color: #893ae3;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form-control::-webkit-input-placeholder {
  color: #cdd6de;
}

.form .form-control:not(textarea) {
  height: 43px;
}

.form .custom-select {
  display: block;
  color: #cdd6de;
}

.form h2 {
  font-size: 18px;
  font-weight: 700;
}

.form .form-footer {
  border-top: 2px solid #ebf1f4;
  padding: 10px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .back-btn {
  color: #893ae3;
}

.form .file-upload {
  width: 100%;
  height: 91px;
  border: 2px solid #cdd6de;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.form .file-upload .body {
  z-index: 0;
}

.form .file-upload #file {
  display: none;
}

.form .file-upload .btn {
  color: #893ae3;
  font-size: 12px;
  padding: 0;
  border: none;
}

.form .file-upload.drag-over {
  border-color: #893ae3;
}

.form .invoice-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}

.form .invoice-separator hr {
  margin: 0 10px 0 0;
  width: 100%;
}

.form .invoice-separator > img {
  cursor: pointer;
}

.form .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #893ae3;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .info-block > *:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #893ae3;
  border-color: #893ae3;
}

.form .custom-checkbox .custom-control-label {
  color: #728393;
  padding: 3px;
  cursor: pointer;
}

.form #feedback {
  max-width: 700px;
  display: none;
}
/*# sourceMappingURL=style.css.map */