.btn {
  border-radius: 19px;
  min-height: 49px;
  padding: 7px 30px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  &:hover {
    color: white;
  }
}

.btn-primary {
  border: none;
  background-color: $brand;
  box-shadow: 0 10px 20px 0 rgba(137, 58, 227, 0.28);
  &:hover {
    background-color: $brand;
  }
}

.btn-secondary {
  background: transparent;
  color: $orange;
  border-color: $orange;
  border-width: 2px;
  &:hover {
    background: transparent;
    color: $orange;
    border-color: $orange;
  }
  &:focus {
    background: transparent;
    color: $orange;
    border-color: $orange;
    box-shadow: unset;
  }
}

.btn-form {
  border: none;
  background-color: $orange;
  box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0.28);
  &:disabled {
    background-color: $orange;
  }
}

.brand-logo {
  height: 70px;
}

// Form
form {
  .form-control {
    border-radius: 16px;
    border-color: $grey;
    font-size: 12px;
    resize: none;
    color: $grey;
    display: flex;
    align-items: center;
    @media (min-width: 992px) {
      width: 280px;
    }
    &:focus {
      border-color: $brand;
      outline: none;
      box-shadow: none;
    }
    &::-webkit-input-placeholder {
      color: $grey;
    }
    &:not(textarea) {
      height: 43px;
    }
  }
  label {
    font-size: 12px;
  }
  .custom-checkbox {
    .custom-control-input {
      &:checked ~ .custom-control-label::before {
        background-color: $brand !important;
        border-color: $brand !important;
      }
      &.is-valid {
        & ~ .custom-control-label {
          color: $grey-dark;
        }
      }
      &.is-invalid {
        & ~ .custom-control-label {
          color: $grey-dark;
          &::before {
            border-color: $brand !important;
          }
        }
      }
      &:focus {
        &:before {
          box-shadow: unset !important;
          border-color: $brand !important;
        }
      }
      &:before {
        box-shadow: unset !important;
        border-color: $brand !important;
      }
    }
  }

  .custom-control-label {
    color: $grey-dark;
    padding: 3px;
    cursor: pointer;
  }
}

// Tooltip
.custom-tooltip {
  padding-top: 5px;
}

.tooltip {
  .tooltip-inner {
    opacity: 1;
    background-color: white;
    box-shadow: 0 7px 34px 0 rgba(114, 131, 147, 0.21);
    border-radius: 10px;
    color: $black;
    max-width: 436px;
    padding: 20px 20px 10px;
    text-align: left;
    font-size: 11px;
  }
  &.show {
    opacity: 1;
  }
  .arrow {
    &:before {
      border-top-color: white;
    }
  }
}

// MODAL
.modal {
  background-color: rgba(73, 22, 131, 0.8);
  .modal-dialog {
    @media (min-width: 992px) {
      max-width: 850px;
    }
  }
  .close {
    font-size: 12px;
    text-shadow: none;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 1;
    cursor: pointer;
    right: 20px;
    top: 20px;
    z-index: 1;
    color: $grey;

    @media (min-width: 768px) {
      right: -70px;
      top: unset;
      color: white;
    }
  }
  .modal-content {
    padding: 40px 80px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    h5 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
