.form {
  background-image: url("/assets/imgs/form-bg.svg");
  background-size: cover;
  background-position: top center;
  padding: 60px 0;

  .form-container {
    background-color: white;
    border-radius: 26px;
    max-width: 980px;
    margin: auto;
    h1 {
      font-weight: 700;
      text-align: center;
      font-size: 20px;
      @media (min-width: 992px) {
        font-size: 22px;
      }
    }
    .instruction {
      color: $grey-dark;
      font-size: 13px;
      text-align: center;
      .orange {
        color: $orange;
      }
    }
    .nav {
      display: flex;
      padding: 10px 0;
      height: 60px;
      .icon-grey {
        fill: $grey;
        stroke: $grey;
      }
      #validation-text,
      #shop-text {
        display: none;
        @media (min-width: 576px) {
          display: block;
        }
      }
      #shop-icon,
      #validation-icon {
        @media (min-width: 576px) {
          display: none;
        }
      }
      .nav-link {
        display: flex;
        flex: 0 0 33.33%;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
    .progress-bar-container {
      height: 2px;
      width: 100%;
      background-color: #ebf1f4;
      .progress-bar {
        width: 15.5%;
        height: 2px;
        background-color: $brand;
        transition: width 0.2s;
      }
    }
    .tab-content {
      font-size: 12px;

      .custom-radio {
        .custom-control-label::before {
          border-radius: 7px;
          border: 1px solid $grey;
          width: 20px;
          height: 20px;
        }
        .custom-control-input:checked ~ .custom-control-label::before {
          background-color: transparent;
        }
        .custom-control-input:checked ~ .custom-control-label::after {
          content: "";
          background-image: none;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $orange;
          top: 10px;
          left: -18px;
        }
        .custom-control-label {
          padding: 5px;
          cursor: pointer;
        }
      }
    }
    .form-content {
      padding: 20px;
      @media (min-width: 768px) {
        padding: 40px 140px;
      }
    }
  }
  .custom-select {
    display: block;
    color: $grey;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .form-footer {
    border-top: 2px solid $grey-light;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 576px) {
      padding: 10px 140px;
    }
  }
  .back-btn {
    color: $brand;
  }
  .file-upload {
    width: 100%;
    height: 91px;
    border: 2px solid $grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .body {
      z-index: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 3px;
      }
    }
    #file {
      display: none;
    }
    .btn {
      color: $brand;
      font-size: 12px;
      padding: 0;
      border: none;
    }
    &.drag-over {
      border-color: $brand;
    }
  }
  .invoice-separator {
    display: flex;
    align-items: center;
    margin: 30px 0 40px;
    hr {
      margin: 0 10px 0 0;
      width: 100%;
    }
    & > img {
      cursor: pointer;
    }
  }
  .info-block {
    display: flex;
    background-color: $brand;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    align-items: center;
    & > * {
      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 40%;
      }
    }
  }

  #feedback {
    max-width: 700px;
    display: none;
  }
  h3 {
    font-size: 13px;
  }

  .file-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 40px 0;
    width: 100%;
    @media (min-width: 992px) {
      margin: 20px 0 40px 15px;
      width: 400px;
      flex-direction: row;
    }
    &.error {
      width: 100%;
      @media (min-width: 992px) {
        margin: 20px 0 40px 0;
        width: 550px;
      }
      img {
        margin: 0 15px;
      }
    }
    .progress-bar {
      margin: 0 15px;
      width: 90px;
      height: 6px;
      background-color: $grey-light;
      border-radius: 8px;
      .bar {
        width: 70%;
        height: 6px;
        border-radius: 8px 0 0 8px;
        background-color: #31e1a9;
      }
    }
    img {
      width: 12px;
      cursor: pointer;
    }
    span {
      color: $grey-dark;
      margin: 0 15px;
    }
    .error {
      background-color: #feedf0;
      padding: 10px 15px;
      color: #fb4064;
      display: flex;
      justify-content: space-between;
      width: auto;
      @media (min-width: 992px) {
        width: 400px;
      }
      span {
        color: #fb4064;
        margin: 0 0 0 15px;
      }
    }
    .btn {
      color: $brand;
      padding: 0;
    }
  }
  .input-icon {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
