.login {
  background-image: url("/assets/imgs/login-bg.svg");
  background-size: cover;
  background-position: top center;
  padding: 60px 0;

  .login-container {
    background-color: white;
    border-radius: 26px;
    max-width: 620px;
    margin: auto;
    padding: 40px;

    h1 {
      font-size: 22px;
      font-weight: 700;
      text-align: center;
    }
    .instruction {
      color: $grey-dark;
      font-size: 13px;
      text-align: center;
      .orange {
        color: $orange;
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-link {
        color: orange;
        text-decoration: underline;
        font-size: 10px;
      }
    }
  }
  .nav-tabs {
    border: none;
    justify-content: center;
    .nav-link {
      border: none;
      padding: 10px 60px;
      color: $grey-dark;
      &.active {
        color: $black;
      }
    }
  }
  .tab-content {
    background-color: white;
    border-radius: 10px;
    padding: 70px;
    box-shadow: 0 12px 80px 0 rgba(114, 131, 147, 0.12);

    .tab-pane {
      min-height: 300px;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
    }
    li {
      font-size: 13px;
      color: $grey-dark;
      span {
        color: $black;
      }
    }
  }
}
